 .myStyle{
	margin-bottom:20px
  }
  
  .bg {
  width: 100% !important;
  height: 95% !important;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.1);
}

.annspiln{

	display: block;
    margin-left: auto;
    margin-right: auto ;
}



img{
 
 width:200px !important;
 height: 200px !important;

}

video{
 
 width:190px !important;
 height: 190px !important;

}

@media  screen and (max-width:100px) {
  /* For tablets: */

}
@media  screen and (max-width:500px) {
  /* For mobile phones: */
  img{
 
 width:150px !important;
 height: 100px !important;

}

video{
 
 width:50px !important;
 height: 50px !important;

}

.btn{
	width:30px;
}

}


.page-header h1{
	
	display:inline-block; 
}

.page-header .dropdown{
	
	float:right;
	margin-top:20px;
}